In [72]:
import pandas  as pd
df = pd.read_csv('data.csv')

In [74]:
# df['date'] = pd.to_datetime(df['timestamp'], unit='s')
# data = df[(df['date'].dt.year == 2024) & (df['date'].dt.month == 2)]
df['financial_contribution'] = df['billing_total_price_usd'] / df['billing_period']
# df['financial_contribution'] = df['financial_contribution'] * ()
df['billing_period'] = df['timestamp'] + (df['billing_period']* 86_400)
# df['date_end'] = pd.to_datetime(df['date_end'], unit='s')
february_2024_start = 1706734800
february_2024_end = 1709240399
# df['financial_contribution'] = df['financial_contribution'] 
df

,id,user_id,timestamp,billing_period,billing_total_price_usd,financial_contribution
0,0,26,1708104067,148134306532867,95,5.540982e-08
1,1,40,1707585667,147723733214467,46,2.690459e-08
2,2,48,1704993667,147686405822467,99,5.791798e-08
3,3,15,1704475267,147507246264067,15,8.786111e-09
4,4,38,1706030467,148029795019267,83,4.844486e-08

In [76]:
# df['date_contribution'] = max((min(february_2024_end, df['billing_period']) - max(february_2024_start, df['timestamp'])), 0)


df

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().